.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    transition-property: opacity;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    display: flex;
    align-self: flex-start;
  }

.khan__buy-link:hover {
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  opacity: .4;
}